<!-- extend base layout -->
{% extends 'baseUser.html' %}

{% block content %}
  <h1 class="w3-container w3-teal" >User: {{ current_user.first_name }}</h1>
  <hr>
  <h1>Sign In</h1>
  <form action="" method="post" name="oneTimeLogin">

      <p class="w3-container w3-teal" >
          Please enter your OTP:<br>
          <p style="color: black;">
          {{ form.enterPasswd(size=80) }}
          <p>
      <br>
      </p>

      <p><input class="w3-btn  w3-hover-green" type="submit"  type="submit"  value="Sign In"></p>
  </form>
{% endblock %}