{% extends 'my_master.html' %}
{% block title %} Homepage {% endblock %}
{% block body %}
{{ super() }}

<div class="container">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            {% if not current_user.is_authenticated %}
                <p>You can register as a regular user, or log in as a superuser with the following credentials:
                <ul>
                    <li>email: <b>admin</b></li>
                    <li>password: <b>admin</b></li>
                </ul>
                <p>
                    <a class="btn btn-success" href="{{ url_for('security.login') }}">login</a> <a class="btn btn-success" href="{{ url_for('security.register') }}">register</a>
                </p>
            {% endif %}

            <!-- new   --->
            <div>
                {% if current_user.is_authenticated %}
                <h1>Secure login</h1>
                <p class="lead">
                    Authentication
                </p>
                <p>
                   If it is your first login, choose "scan" option.
                    <br>
                    Otherwise, choose "already scanned" option.
                </p>
                <p>You will need to download mobile app for generating otp's. <br>
                Also, if you do not have barcode scanner installed, you will need to download one <br>
                Download barcode scanner from google play <a href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=sk"> here</a> <br>
                Download otp generating app <a href="https://github.com/jurajmaslej/bakalarka/wiki">here</a></p>

                {% endif %}

            </div>
        {% if current_user.is_authenticated %}
            {% if current_user.otp_auth %}
                <a class="btn btn-success btn-lg"
                   data-toggle="tooltip" data-placement="top"
                   title="Finally login"
                   style="padding-rigt: 10px" href="/auth"> Proceed to protected page</a>
            <a class="btn btn-success btn-lg"
                   data-toggle="tooltip" data-placement="top"
                   title="Logout from otp authorization"
                   style="padding-rigt: 10px" href="/delete_cookie"> Log me out of protected page</a>
            {% endif %}
            {% if not current_user.has_scanned %}
                <a class="btn btn-success btn-lg"
                   data-toggle="tooltip" data-placement="top"
                   title="Use after first login, scan code with your device"
                   style="padding-rigt: 10px" href="/new_scan/{{current_user.id}}"> scan</a>
            {% else %}
                <p>Code scanned, you can add a new device. <br>
                   To do that, you will have to validate with otp from already functional device first.</p>

                <a data-toggle="tooltip" data-placement="top" title="New device will be able to generate otp">
                    <button type="button" class="btn btn-success btn-lg"
                            data-toggle="modal" data-target="#myModal">Scan on new device</button>
                </a>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="w3-container" style="border: thin solid black; background-color:#66ba5b; ">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Please validate with otp</h3>
                            </div>
                          <div class="modal-body">

                                  <form action="/scan_new_dev/{{current_user.id}}" method="post" name="oneTimeLogin">

                                      <p class="w3-container w3-teal" >
                                          Please enter your OTP:<br>
                                          <p style="color: black;">
                                          {{ form.enterPasswd() }}
                                          <p>
                                      <br>
                                      </p>
                                      <input class="btn btn-success  w3-hover-green" style="background-color:#66ba5b;" type="submit" value="Sign In">
                                      <button type="button" class="btn btn-success  w3-hover-green pull-right" data-dismiss="modal">Close</button>
                                  </form>
                            </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                    </div>
                  </div>
                </div>
            {% endif %}
        <a class="btn btn-success btn-lg"
           data-toggle="tooltip" data-placement="top"
           title="Login with password from device"
           href="/scanned/{{current_user.id}}"> Already scanned</a>
            <br>
            {% if not current_user.forgotten_otp %}
            <a class="btn btn-success btn-lg"
               style="margin-top: 10px; padding-rigt: 10px"
               data-toggle="tooltip"
               data-placement="top"
               title="Highly advised to create, used to validate user in case of fault otp's being generated"
               href="/new_otp"> Create back-up otp</a>

            {% else %}

            <a class="btn btn-success btn-lg"
               style="margin-top: 10px; padding-rigt: 10px"
               data-toggle="modal"
               data-placement="top"
               title="Use only if you are not able to log in with any otp from any device"
               data-target="#otpModal"
               > Request new scan</a>

                <!-- Modal2 -->
                <div id="otpModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="w3-container" style="border: thin solid black; background-color:#66ba5b; ">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Please validate with back-up password</h3>
                            </div>
                          <div class="modal-body">

                                  <form action="/new_otp" method="post" name="oneTimeLogin">

                                      <p class="w3-container w3-teal" >
                                          Please enter your back-up password:<br>
                                          <p style="color: black;">
                                          {{ form.enterPasswd() }}
                                          <p>
                                      <br>
                                      </p>
                                      <input class="btn btn-success  w3-hover-green" style="background-color:#66ba5b;" type="submit" value="Request new scan">
                                      <button type="button" class="btn btn-success  w3-hover-green pull-right" data-dismiss="modal">Close</button>
                                  </form>
                            </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                    </div>
                  </div>
                </div>

            {% endif %}
        {% endif %}
        <br>
        <p style="padding-top: 10px">
            <a class="btn btn-success btn-lg" style="border:  solid thin black;  border-radius: 5px; " href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
        <!-- end new --->

        </div>
    </div>
</div>
{% endblock body %}
